.header__lang {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-self: center;
  padding-top: 15px;
}
@media screen and (max-width: 320px) {
  .header__lang {
    padding-top: 8px;

    padding-right: 5px;
  }
}
