.intro__list{
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0; 
    color: #FFFFFF;
    max-width: 70%;
    list-style: none;
    padding-left: 0;  
}
@media screen and (max-width: 320px) {
    .intro__list{
      max-width: 100%;
    }
}