.lead {
  margin: 0 auto;
  padding-top: 55px;
  max-width: 984px;
  padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 90.625%;
    padding-top: 52px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    padding-bottom: 0;
    padding-top: 47px;
  }
}
