.header {
  display: flex;
  max-width: 1184px;
  padding-top: 28px;
  padding-right: 5px;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 52px;
}
@media screen and (max-width: 1280px) {
  .header {
    max-width: 92.5%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 90%;
    padding-top: 34px;
    padding-left: 3px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 94%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 91%;
  }
}
