.header {
  display: flex;
  max-width: 100%;
  padding-top: 28px;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 52px;
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 92.5%;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 94%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    max-width: 91%;
    min-height: 42px;
    padding-top: 16px;
  }
}
