.place__website_link{
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
}
.place__website_link:hover{
  opacity: .4;
  transition: .3s ease;
}