.place__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  grid-column: 2;
  color: #ffffff;
  margin: 0;
  padding-bottom: 26px;
}
.place__paragraph:last-of-type {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
    grid-column: 2;
    padding-right: 24px;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 16px;
    grid-column: 1;
  }
  .place__paragraph:first-of-type {
    padding-top: 32px;
  }
}
