.header__lang_link {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
  padding-right: 18px;
  transition: 0.2s ease-in-out;
}
.header__lang_link:last-child {
  padding: 0;
}
.header__lang_link:hover {
  text-decoration: underline;
  opacity: 0.5;
}
@media screen and (max-width: 320px) {
  .header__lang_link {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: right;
  }
}
