.cover__background {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  min-height: 740px;
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .cover__background {
    min-height: 57vw;
  }
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 62vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
