.footer {
  display: flex;
  max-width: 1184px;
  padding-bottom: 24px;
  margin: 0 48px;
  padding-top: 92px;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 93px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
    padding-top: 88px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    margin-left: 16px;
  }
}
