.footer {
  display: flex;
  max-width: 1184px;
  padding-bottom: 24px;
  margin: 0 48px;
  padding-top: 103px;
  justify-content: space-between;
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 90%;
    padding-top: 93px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin: 0 24px;
    padding-top: 80px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding-top: 42px;
    flex-direction: column;
    margin-left: 13px;
    margin-right: 13px;
    min-height: 310px;
  }
}
