.intro__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  max-width: 690px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 7vw;
    line-height: 1.1;
  }
}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    width: 210px;
  }
}
